[workspace]
resolver = "2"
members = [
    "open-coroutine-timer",
    "open-coroutine-queue",
    "open-coroutine-iouring",
    "open-coroutine-core",
    "open-coroutine-hooks",
    "open-coroutine-macros",
    "open-coroutine",
    "examples"
]
